function Main.main 8
call Memory.checkfree 0
pop local 4
push local 4
call Sys.wait 1
pop temp 0
push constant 5
call Array.new 1
pop local 5
push constant 10
call Array.new 1
pop local 6
push constant 15
call Array.new 1
pop local 7
push local 5
call Array.dispose 1
pop temp 0
push local 6
call Array.dispose 1
pop temp 0
push local 7
call Array.dispose 1
pop temp 0
call Memory.checkfree 0
pop local 0
push local 0
call Sys.wait 1
pop temp 0
push constant 0
return
