
function Main.main 1
push constant 8001
push constant 16
push constant 1
push constant 1
neg
call Math.multiply 2
call Main.fillMemory 3
pop temp 0
push constant 8000
call Memory.peek 1
pop local 0
push local 0
call Main.convert 1
pop temp 0
push constant 0
return

function Main.convert 3
push constant 1
neg
pop local 2
label while0label1
push local 2
not
if-goto while0label2
push local 1
push constant 1
add
pop local 1
push local 0
call Main.nextMask 1
pop local 0
push local 1
push constant 16
gt
not
not
if-goto if0label1
push argument 0
push local 0
and
push constant 0
eq
not
not
if-goto if1label1
push constant 8000
push local 1
add
push constant 1
call Memory.poke 2
goto if1label2
label if1label1
push constant 8000
push local 1
add
push constant 0
call Memory.poke 2
label if1label2
goto if0label2
label if0label1
push constant 0
pop local 2
label if0label2
goto while0label1
label while0label2
push constant 0
return

function Main.nextMask 0
push argument 0
push constant 0
eq
not
if-goto if2label1
push constant 1
return
goto if2label2
label if2label1
push argument 0
push constant 2
call Math.multiply 2
return
label if2label2

function Main.fillMemory 0
label while2label1
push argument 1
push constant 0
gt
not
if-goto while2label2
push argument 0
push argument 2
call Memory.poke 2
push argument 1
push constant 1
sub
pop argument 1
push argument 0
push constant 1
add
pop argument 0
goto while2label1
label while2label2
push constant 0
return
// voids processed