function Flame.new 1
push constant 7
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 125
pop this 2
push argument 2
push this 0
push this 1
push constant 4
call GameField.setFieldType 4
pop temp 0
push argument 2
push this 0
push this 1
push constant 1
sub
call GameField.getFieldType 3
pop local 0
push local 0
push constant 1
neg
eq
not
push local 0
push constant 1
eq
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 3
push argument 2
push this 0
push this 1
push constant 1
sub
push constant 4
call GameField.setFieldType 4
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
pop this 3
label IF_END0
push argument 2
push this 0
push constant 1
add
push this 1
call GameField.getFieldType 3
pop local 0
push local 0
push constant 1
neg
eq
not
push local 0
push constant 1
eq
not
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
pop this 4
push argument 2
push this 0
push constant 1
add
push this 1
push constant 4
call GameField.setFieldType 4
pop temp 0
goto IF_END1
label IF_FALSE1
push constant 0
pop this 4
label IF_END1
push argument 2
push this 0
push this 1
push constant 1
add
call GameField.getFieldType 3
pop local 0
push local 0
push constant 1
neg
eq
not
push local 0
push constant 1
eq
not
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
not
pop this 5
push argument 2
push this 0
push this 1
push constant 1
add
push constant 4
call GameField.setFieldType 4
pop temp 0
goto IF_END2
label IF_FALSE2
push constant 0
pop this 5
label IF_END2
push argument 2
push this 0
push constant 1
sub
push this 1
call GameField.getFieldType 3
pop local 0
push local 0
push constant 1
neg
eq
not
push local 0
push constant 1
eq
not
and
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 0
not
pop this 6
push argument 2
push this 0
push constant 1
sub
push this 1
push constant 4
call GameField.setFieldType 4
pop temp 0
goto IF_END3
label IF_FALSE3
push constant 0
pop this 6
label IF_END3
push pointer 0
return
function Flame.decrementTime 0
push argument 0
pop pointer 0
push this 2
push constant 1
sub
pop this 2
push constant 0
return
function Flame.getTime 0
push argument 0
pop pointer 0
push this 2
return
function Flame.checkIfKillsPlayer 2
push argument 0
pop pointer 0
push argument 1
call Player.getXPos 1
push this 0
sub
call Math.abs 1
pop local 0
push argument 1
call Player.getYPos 1
push this 1
sub
call Math.abs 1
pop local 1
push local 0
push local 1
add
push constant 2
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Flame.killEnemies 4
push argument 0
pop pointer 0
push constant 0
pop local 2
label WHILE_EXP0
push local 2
call Global.getNumberOfEnemies 0
lt
not
if-goto WHILE_END0
push local 2
push argument 1
add
pop pointer 1
push that 0
pop local 3
push local 3
call Enemy.isAlive 1
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 3
call Enemy.getXPos 1
push this 0
sub
call Math.abs 1
pop local 0
push local 3
call Enemy.getYPos 1
push this 1
sub
call Math.abs 1
pop local 1
push local 0
push local 1
add
push constant 2
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
call Enemy.killEnemy 1
pop temp 0
push constant 10
call Global.increaseScore 1
pop temp 0
call Global.decrementLivingEnemies 0
pop temp 0
label IF_FALSE1
label IF_FALSE0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Flame.checkIfDoorsShouldBeDrawn 2
push argument 0
pop pointer 0
push argument 1
call Door.getXPos 1
push this 0
sub
call Math.abs 1
pop local 0
push argument 1
call Door.getYPos 1
push this 1
sub
call Math.abs 1
pop local 1
push local 0
push local 1
add
push constant 2
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
return
function Flame.emptyFields 0
push argument 0
pop pointer 0
push argument 1
push this 0
push this 1
push constant 0
call GameField.setFieldType 4
pop temp 0
call Global.getXTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
call Global.getYTranslation 0
push this 1
add
push constant 16
call Math.multiply 2
call Global.getXTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
push constant 15
add
call Global.getYTranslation 0
push this 1
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push this 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push argument 1
push this 0
push this 1
push constant 1
sub
push constant 0
call GameField.setFieldType 4
pop temp 0
call Global.getXTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
call Global.getYTranslation 0
push this 1
push constant 1
sub
add
push constant 16
call Math.multiply 2
call Global.getXTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
push constant 15
add
call Global.getYTranslation 0
push this 1
push constant 1
sub
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE0
push this 4
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push argument 1
push this 0
push constant 1
add
push this 1
push constant 0
call GameField.setFieldType 4
pop temp 0
call Global.getXTranslation 0
push this 0
push constant 1
add
add
push constant 16
call Math.multiply 2
call Global.getYTranslation 0
push this 1
add
push constant 16
call Math.multiply 2
call Global.getXTranslation 0
push this 0
push constant 1
add
add
push constant 16
call Math.multiply 2
push constant 15
add
call Global.getYTranslation 0
push this 1
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE1
push this 5
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push argument 1
push this 0
push this 1
push constant 1
add
push constant 0
call GameField.setFieldType 4
pop temp 0
call Global.getXTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
call Global.getYTranslation 0
push this 1
push constant 1
add
add
push constant 16
call Math.multiply 2
call Global.getXTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
push constant 15
add
call Global.getYTranslation 0
push this 1
push constant 1
add
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE2
push this 6
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
push this 0
push constant 1
sub
push this 1
push constant 0
call GameField.setFieldType 4
pop temp 0
call Global.getXTranslation 0
push this 0
push constant 1
sub
add
push constant 16
call Math.multiply 2
call Global.getYTranslation 0
push this 1
add
push constant 16
call Math.multiply 2
call Global.getXTranslation 0
push this 0
push constant 1
sub
add
push constant 16
call Math.multiply 2
push constant 15
add
call Global.getYTranslation 0
push this 1
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
label IF_FALSE3
push constant 0
return
function Flame.draw 0
push argument 0
pop pointer 0
push pointer 0
call Flame.drawCenter 1
pop temp 0
push this 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Flame.drawTop 1
pop temp 0
label IF_FALSE0
push this 4
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Flame.drawRight 1
pop temp 0
label IF_FALSE1
push this 5
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Flame.drawBottom 1
pop temp 0
label IF_FALSE2
push this 6
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Flame.drawLeft 1
pop temp 0
label IF_FALSE3
push constant 0
return
function Flame.drawCenter 2
push argument 0
pop pointer 0
push this 0
push this 1
call Global.getDrawLocation 2
pop local 0
push constant 16384
push local 0
add
pop local 1
push local 1
push constant 0
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 1633
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 384
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 384
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 384
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 384
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 1633
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 2448
call Memory.poke 2
pop temp 0
push constant 0
return
function Flame.drawTop 2
push argument 0
pop pointer 0
push this 0
push this 1
push constant 1
sub
call Global.getDrawLocation 2
pop local 0
push constant 16384
push local 0
add
pop local 1
push local 1
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 2448
call Memory.poke 2
pop temp 0
push constant 0
return
function Flame.drawRight 2
push argument 0
pop pointer 0
push this 0
push constant 1
add
push this 1
call Global.getDrawLocation 2
pop local 0
push constant 16384
push local 0
add
pop local 1
push local 1
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 12287
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 12287
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 8192
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 8191
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Flame.drawBottom 2
push argument 0
pop pointer 0
push this 0
push this 1
push constant 1
add
call Global.getDrawLocation 2
pop local 0
push constant 16384
push local 0
add
pop local 1
push local 1
push constant 0
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 2448
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 2064
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 2016
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Flame.drawLeft 2
push argument 0
pop pointer 0
push this 0
push constant 1
sub
push this 1
call Global.getDrawLocation 2
pop local 0
push constant 16384
push local 0
add
pop local 1
push local 1
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 128
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 160
add
push constant 4
call Memory.poke 2
pop temp 0
push local 1
push constant 192
add
push constant 4
call Memory.poke 2
pop temp 0
push local 1
push constant 224
add
push constant 12
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 256
add
push constant 12
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 288
add
push constant 4
call Memory.poke 2
pop temp 0
push local 1
push constant 320
add
push constant 4
call Memory.poke 2
pop temp 0
push local 1
push constant 352
add
push constant 8
neg
call Memory.poke 2
pop temp 0
push local 1
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 1
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Flame.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
