function GameField.new 3
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 13
pop this 0
push constant 0
pop local 0
push constant 0
pop local 1
push this 0
call Array.new 1
pop this 1
label WHILE_EXP0
push local 0
push this 0
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
push this 0
call Array.new 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 2
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push this 0
lt
not
if-goto WHILE_END1
push local 1
push local 2
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1
pop local 0
push constant 1
pop local 1
label WHILE_EXP2
push local 0
push this 0
lt
not
if-goto WHILE_END2
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 2
push constant 1
pop local 1
label WHILE_EXP3
push local 1
push this 0
lt
not
if-goto WHILE_END3
push local 1
push local 2
add
push constant 1
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 1
push constant 2
add
pop local 1
goto WHILE_EXP3
label WHILE_END3
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push pointer 0
return
function GameField.getSize 0
push argument 0
pop pointer 0
push this 0
return
function GameField.getFieldType 1
push argument 0
pop pointer 0
push argument 1
push constant 0
lt
push argument 2
push constant 0
lt
or
push argument 1
push this 0
push constant 1
sub
gt
or
push argument 2
push this 0
push constant 1
sub
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
neg
return
label IF_FALSE0
push argument 2
push this 1
add
pop pointer 1
push that 0
pop local 0
push argument 1
push local 0
add
pop pointer 1
push that 0
return
function GameField.setFieldType 1
push argument 0
pop pointer 0
push argument 2
push this 1
add
pop pointer 1
push that 0
pop local 0
push argument 1
push local 0
add
push argument 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 0
return
function GameField.draw 2
push argument 0
pop pointer 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push constant 1
pop local 0
push constant 1
pop local 1
label WHILE_EXP0
push local 0
push this 0
lt
not
if-goto WHILE_END0
push constant 1
pop local 1
label WHILE_EXP1
push local 1
push this 0
lt
not
if-goto WHILE_END1
call Global.getXTranslation 0
push local 1
add
push constant 16
call Math.multiply 2
call Global.getYTranslation 0
push local 0
add
push constant 16
call Math.multiply 2
call Global.getXTranslation 0
push local 1
add
push constant 16
call Math.multiply 2
push constant 15
add
call Global.getYTranslation 0
push local 0
add
push constant 16
call Math.multiply 2
push constant 15
add
call Screen.drawRectangle 4
pop temp 0
push local 1
push constant 2
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
push constant 2
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
call Global.getXTranslation 0
push constant 16
call Math.multiply 2
push constant 1
sub
call Global.getYTranslation 0
push constant 16
call Math.multiply 2
push constant 1
sub
call Global.getXTranslation 0
push constant 16
call Math.multiply 2
push constant 1
sub
call Global.getYTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
push constant 1
add
call Screen.drawLine 4
pop temp 0
call Global.getXTranslation 0
push constant 16
call Math.multiply 2
push constant 1
sub
call Global.getYTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
push constant 1
add
call Global.getXTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
push constant 1
add
call Global.getYTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
push constant 1
add
call Screen.drawLine 4
pop temp 0
call Global.getXTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
push constant 1
add
call Global.getYTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
push constant 1
add
call Global.getXTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
push constant 1
add
call Global.getYTranslation 0
push constant 16
call Math.multiply 2
push constant 1
sub
call Screen.drawLine 4
pop temp 0
call Global.getXTranslation 0
push this 0
add
push constant 16
call Math.multiply 2
push constant 1
add
call Global.getYTranslation 0
push constant 16
call Math.multiply 2
push constant 1
sub
call Global.getXTranslation 0
push constant 16
call Math.multiply 2
push constant 1
sub
call Global.getYTranslation 0
push constant 16
call Math.multiply 2
push constant 1
sub
call Screen.drawLine 4
pop temp 0
push constant 0
return
function GameField.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
