function Game.new 4
push constant 15
call Memory.alloc 1
pop pointer 0
call Global.initializeNewStage 0
pop temp 0
call GameField.new 0
pop this 0
call Global.getNumberOfBlocks 0
call Array.new 1
pop this 1
push constant 0
pop local 0
label WHILE_EXP0
push local 0
call Global.getNumberOfBlocks 0
lt
not
if-goto WHILE_END0
call Global.getRandomNumber 0
push constant 13
call Global.modulo 2
pop local 1
call Global.getRandomNumber 0
push constant 13
call Global.modulo 2
pop local 2
push this 0
push local 1
push local 2
call GameField.getFieldType 3
push constant 0
eq
push local 1
push constant 1
gt
and
push local 2
push constant 1
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 0
push this 1
add
push local 1
push local 2
push this 0
call Block.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label IF_FALSE0
goto WHILE_EXP0
label WHILE_END0
call Global.getRandomNumber 0
call Global.getNumberOfBlocks 0
call Global.modulo 2
pop local 0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 3
push local 3
call Block.getYPos 1
push local 3
call Block.getXPos 1
call Door.new 2
pop this 6
call Global.getNumberOfEnemies 0
call Array.new 1
pop this 2
push constant 0
pop local 0
label WHILE_EXP1
push local 0
call Global.getNumberOfEnemies 0
lt
not
if-goto WHILE_END1
call Global.getRandomNumber 0
push this 0
call GameField.getSize 1
call Global.modulo 2
pop local 1
call Global.getRandomNumber 0
push this 0
call GameField.getSize 1
call Global.modulo 2
pop local 2
push this 0
push local 1
push local 2
call GameField.getFieldType 3
push constant 0
eq
push local 1
push constant 2
gt
and
push local 2
push constant 2
gt
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
push this 2
add
push local 1
push local 2
push this 0
call Enemy.new 3
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push constant 1
add
pop local 0
label IF_FALSE1
goto WHILE_EXP1
label WHILE_END1
call Player.new 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push constant 0
pop this 7
push constant 0
pop this 10
push constant 0
pop this 9
push constant 0
pop this 11
push constant 0
pop this 8
call Time.new 0
pop this 14
push pointer 0
return
function Game.run 2
push argument 0
pop pointer 0
push pointer 0
call Game.drawInitial 1
pop temp 0
label WHILE_EXP0
push constant 1
push constant 1
eq
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop this 13
push this 13
push constant 0
eq
not
push this 10
not
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 10
push this 13
push constant 66
eq
push this 4
push constant 0
eq
and
push this 5
push constant 0
eq
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 3
call Player.getXPos 1
push this 3
call Player.getYPos 1
push this 0
call Bomb.new 3
pop this 4
push constant 0
not
pop this 7
label IF_FALSE1
push this 13
push constant 129
gt
push this 13
push constant 134
lt
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 3
push this 13
push this 0
call Player.movePlayer 3
pop temp 0
push this 7
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 4
call Bomb.draw 1
pop temp 0
push constant 0
pop this 7
label IF_FALSE3
label IF_FALSE2
push this 13
push constant 67
eq
push this 4
push constant 0
eq
not
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push constant 0
not
pop this 9
label IF_FALSE4
label IF_FALSE0
push this 13
push constant 0
eq
push this 10
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 0
pop this 10
label IF_FALSE5
push constant 10
call Sys.wait 1
pop temp 0
push this 4
push constant 0
eq
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 4
call Bomb.decrementTime 1
pop temp 0
push this 4
call Bomb.getTime 1
push constant 1
lt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 0
not
pop this 9
label IF_FALSE7
label IF_FALSE6
push this 5
push constant 0
eq
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 5
call Flame.decrementTime 1
pop temp 0
push this 5
push this 3
call Flame.checkIfKillsPlayer 2
pop this 11
push this 5
push this 2
call Flame.killEnemies 2
pop temp 0
push this 5
call Flame.getTime 1
push constant 1
lt
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 5
push this 0
call Flame.emptyFields 2
pop temp 0
push this 5
push this 6
call Flame.checkIfDoorsShouldBeDrawn 2
pop this 8
push this 5
call Flame.dispose 1
pop temp 0
push constant 0
pop this 5
label IF_FALSE9
label IF_FALSE8
push this 14
call Time.decrementTime 1
pop temp 0
push this 14
call Time.getTime 1
push constant 0
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 0
not
pop this 12
push constant 0
return
label IF_FALSE10
push constant 0
pop local 0
label WHILE_EXP1
push local 0
call Global.getNumberOfEnemies 0
lt
not
if-goto WHILE_END1
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 1
push local 1
call Enemy.isAlive 1
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push local 1
call Enemy.decrementTime 1
pop temp 0
push this 8
not
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push local 1
push this 6
call Enemy.checkIfDoorsShouldBeDrawn 2
pop this 8
label IF_FALSE12
push local 1
call Enemy.getTime 1
push constant 1
lt
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push local 1
push this 0
call Enemy.move 2
pop temp 0
label IF_FALSE13
label IF_FALSE11
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push this 9
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push this 4
call Bomb.getXPos 1
push this 4
call Bomb.getYPos 1
push this 0
call Flame.new 3
pop this 5
push this 5
call Flame.draw 1
pop temp 0
push this 5
push this 3
call Flame.checkIfKillsPlayer 2
pop this 11
push this 5
push this 2
call Flame.killEnemies 2
pop temp 0
push this 4
push this 0
call Bomb.explode 2
pop temp 0
push this 4
call Bomb.dispose 1
pop temp 0
push constant 0
pop this 4
push constant 0
pop this 9
label IF_FALSE14
push constant 0
pop local 0
label WHILE_EXP2
push local 0
call Global.getNumberOfEnemies 0
lt
not
if-goto WHILE_END2
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 1
push local 1
call Enemy.isAlive 1
push this 11
not
and
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push local 1
push this 3
call Enemy.checkIfKillsPlayer 2
pop this 11
push this 11
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
call Global.getNumberOfEnemies 0
pop local 0
label IF_FALSE16
label IF_FALSE15
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP2
label WHILE_END2
push this 8
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push this 6
call Door.draw 1
pop temp 0
push constant 0
pop this 8
label IF_FALSE17
push this 11
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push constant 0
return
label IF_FALSE18
push this 6
push this 3
call Door.checkIfPlayerAtDoor 2
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
call Global.getNumberOfLivingEnemies 0
push constant 0
eq
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push this 14
call Time.getTime 1
call Global.increaseScore 1
pop temp 0
push constant 0
return
goto IF_END20
label IF_FALSE20
push constant 0
not
pop this 8
label IF_END20
label IF_FALSE19
call Global.printScore 0
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.drawInitial 3
push argument 0
pop pointer 0
call Screen.clearScreen 0
pop temp 0
call Global.printStageNumber 0
pop temp 0
push this 0
call GameField.draw 1
pop temp 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
call Global.getNumberOfBlocks 0
lt
not
if-goto WHILE_END0
push local 0
push this 1
add
pop pointer 1
push that 0
pop local 1
push local 1
call Block.draw 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 0
label WHILE_EXP1
push local 0
call Global.getNumberOfEnemies 0
lt
not
if-goto WHILE_END1
push local 0
push this 2
add
pop pointer 1
push that 0
pop local 2
push local 2
call Enemy.draw 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP1
label WHILE_END1
push this 3
call Player.drawFront 1
pop temp 0
push this 14
call Time.draw 1
pop temp 0
push constant 0
return
function Game.getGameStatus 0
push argument 0
pop pointer 0
push this 11
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
return
label IF_FALSE0
push this 12
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
return
label IF_FALSE1
push constant 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 0
call GameField.dispose 1
pop temp 0
push this 1
call Array.dispose 1
pop temp 0
push this 2
call Array.dispose 1
pop temp 0
push this 3
call Player.dispose 1
pop temp 0
push this 4
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 4
call Bomb.dispose 1
pop temp 0
label IF_FALSE0
push this 5
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
call Flame.dispose 1
pop temp 0
label IF_FALSE1
push this 6
call Door.dispose 1
pop temp 0
push this 14
call Time.dispose 1
pop temp 0
push constant 0
return
